@charset "UTF-8";
@import "../../../../sass.scss";

ul.topmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  li {
    display: inline-block;
    a {
      display: block;
      padding: 0px 15px 0px 0px;
      height: 30px;
      line-height: 36px;
    }
  }
}





